n8n-workflows/wf-pipeline.json
{
  "name": "WF-Pipeline (TWC)",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "minutes", "minutesInterval": 5 } ] }
      },
      "id": "trigger",
      "name": "Mỗi 5 phút",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [ 0, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/47b1e8e3dbf94ce5bfc2ff6a23519af9/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Notion-Version", "value": "2022-06-28" }, { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"or\": [\n      { \"property\": \"pipeline_status\", \"select\": { \"equals\": \"Draft\" } },\n      { \"property\": \"pipeline_status\", \"select\": { \"equals\": \"Approved\" } },\n      { \"property\": \"pipeline_status\", \"select\": { \"equals\": \"Revise\" } }\n    ]\n  }\n}"
      },
      "id": "query",
      "name": "Query Notion (actionable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 220, 300 ]
    },
    {
      "parameters": { "fieldToSplitOut": "results", "options": {} },
      "id": "split",
      "name": "Tách từng post",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [ 440, 300 ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true }, "conditions": [ { "leftValue": "={{ $json.properties.pipeline_status.select.name }}", "rightValue": "Draft", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "Draft" },
            { "conditions": { "options": { "caseSensitive": true }, "conditions": [ { "leftValue": "={{ $json.properties.pipeline_status.select.name }}", "rightValue": "Approved", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "Approved" },
            { "conditions": { "options": { "caseSensitive": true }, "conditions": [ { "leftValue": "={{ $json.properties.pipeline_status.select.name }}", "rightValue": "Revise", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "Revise" }
          ]
        },
        "options": {}
      },
      "id": "switch",
      "name": "Switch theo status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [ 660, 300 ]
    },

    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Notion-Version", "value": "2022-06-28" }, { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"properties\": { \"pipeline_status\": { \"select\": { \"name\": \"Generating\" } } } }"
      },
      "id": "set_generating",
      "name": "→ Generating",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 900, 80 ]
    },
    {
      "parameters": {
        "jsCode": "// Map Notion properties -> flat post object cho agent-service\nconst p = $json.properties;\nconst txt = (rt) => (rt && rt[0] && rt[0].plain_text) || \"\";\nreturn {\n  page_id: $json.id,\n  post: {\n    post_id: txt(p.post_id.title),\n    audience: p.audience?.select?.name || \"\",\n    platform: (p.platforms?.multi_select || []).map(o => o.name).join(\"+\"),\n    content_type: txt(p.content_type?.rich_text),\n    ad_budget: txt(p.ad_budget?.rich_text) || \"none\",\n    ad_objective: p.ad_objective?.select?.name || \"none\",\n    title: txt(p.post_id.title),\n    hook_brief: txt(p.revise_feedback?.rich_text) || \"\"\n  },\n  revise_feedback: txt(p.revise_feedback?.rich_text) || null\n};"
      },
      "id": "build_post",
      "name": "Build post object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1120, 80 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8787/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: $json.post, revise_feedback: $json.revise_feedback }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "call_generate",
      "name": "Call /generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1340, 80 ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Build post object').item.json.page_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Notion-Version", "value": "2022-06-28" }, { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: {\n  caption: { rich_text: [ { text: { content: ($json.content?.caption?.body || $json.content?.caption || \"\").toString().slice(0,1900) } } ] },\n  hook_line: { rich_text: [ { text: { content: ($json.content?.caption?.hook_line || \"\").toString().slice(0,1900) } } ] },\n  hook_score: { number: $json.content?.hook_score || 0 },\n  passes_threshold: { checkbox: !!$json.content?.passes_threshold },\n  ad_copy_a: { rich_text: [ { text: { content: ($json.ads?.variation_a?.primary_text || \"\").toString().slice(0,1900) } } ] },\n  ad_copy_b: { rich_text: [ { text: { content: ($json.ads?.variation_b?.primary_text || \"\").toString().slice(0,1900) } } ] },\n  pipeline_status: { select: { name: \"Pending Review\" } }\n} }) }}"
      },
      "id": "save_content",
      "name": "Lưu content + Pending Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1560, 80 ]
    },
    {
      "parameters": {
        "sendTo": "yennievo2011@gmail.com",
        "subject": "=[Duyệt] {{ $('Build post object').item.json.post.post_id }} — hook {{ $('Call /generate').item.json.content.hook_score }}/35",
        "message": "=Post {{ $('Build post object').item.json.post.post_id }} đã sẵn sàng duyệt.\n\nCAPTION:\n{{ $('Call /generate').item.json.content.caption.body || $('Call /generate').item.json.content.caption }}\n\nMở Notion để Approve/Revise + dán link Canva vào visual_url:\nhttps://www.notion.so/{{ $('Build post object').item.json.page_id.replaceAll('-','') }}",
        "options": {}
      },
      "id": "email_review",
      "name": "Email duyệt",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [ 1780, 80 ]
    },

    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Notion-Version", "value": "2022-06-28" }, { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"properties\": { \"pipeline_status\": { \"select\": { \"name\": \"Publishing\" } } } }"
      },
      "id": "set_publishing",
      "name": "→ Publishing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 900, 300 ]
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ TODO — ĐĂNG BÀI: thay bằng call thật tới Meta Graph / LinkedIn API.\n// Cần điền: Meta page_id, ig_user_id, access_token; LinkedIn person_urn.\n// Tạm thời chỉ đánh dấu đã publish để test luồng status.\nconst now = new Date();\nconst due = new Date(now.getTime() + 48*60*60*1000).toISOString().slice(0,10);\nreturn { page_id: $json.id, er_check_due: due, publish_note: 'TODO: nối Meta/LinkedIn API ở đây' };"
      },
      "id": "publish_todo",
      "name": "⚠️ TODO Đăng FB/IG/LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1120, 300 ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.page_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Notion-Version", "value": "2022-06-28" }, { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: {\n  publish_status: { rich_text: [ { text: { content: $json.publish_note } } ] },\n  er_status: { select: { name: \"Pending\" } },\n  pipeline_status: { select: { name: \"Published\" } },\n  ['er_check_due']: { date: { start: $json.er_check_due } }\n} }) }}"
      },
      "id": "set_published",
      "name": "→ Published + er_check_due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1340, 300 ]
    },

    {
      "parameters": {
        "jsCode": "const p = $json.properties;\nconst txt = (rt) => (rt && rt[0] && rt[0].plain_text) || \"\";\nreturn {\n  page_id: $json.id,\n  post: {\n    post_id: txt(p.post_id.title),\n    audience: p.audience?.select?.name || \"\",\n    platform: (p.platforms?.multi_select || []).map(o => o.name).join(\"+\"),\n    ad_budget: txt(p.ad_budget?.rich_text) || \"none\",\n    title: txt(p.post_id.title)\n  },\n  revise_feedback: txt(p.revise_feedback?.rich_text) || \"\"\n};"
      },
      "id": "build_revise",
      "name": "Build post (revise)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 900, 520 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8787/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: $json.post, revise_feedback: $json.revise_feedback }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "regen",
      "name": "Call /generate (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1120, 520 ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Build post (revise)').item.json.page_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Notion-Version", "value": "2022-06-28" }, { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: {\n  caption: { rich_text: [ { text: { content: ($json.content?.caption?.body || $json.content?.caption || \"\").toString().slice(0,1900) } } ] },\n  hook_score: { number: $json.content?.hook_score || 0 },\n  review_decision: { select: null },\n  pipeline_status: { select: { name: \"Pending Review\" } }\n} }) }}"
      },
      "id": "save_revise",
      "name": "Lưu revise + Pending Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1340, 520 ]
    }
  ],
  "connections": {
    "Mỗi 5 phút": { "main": [ [ { "node": "Query Notion (actionable)", "type": "main", "index": 0 } ] ] },
    "Query Notion (actionable)": { "main": [ [ { "node": "Tách từng post", "type": "main", "index": 0 } ] ] },
    "Tách từng post": { "main": [ [ { "node": "Switch theo status", "type": "main", "index": 0 } ] ] },
    "Switch theo status": { "main": [
      [ { "node": "→ Generating", "type": "main", "index": 0 } ],
      [ { "node": "→ Publishing", "type": "main", "index": 0 } ],
      [ { "node": "Build post (revise)", "type": "main", "index": 0 } ]
    ] },
    "→ Generating": { "main": [ [ { "node": "Build post object", "type": "main", "index": 0 } ] ] },
    "Build post object": { "main": [ [ { "node": "Call /generate", "type": "main", "index": 0 } ] ] },
    "Call /generate": { "main": [ [ { "node": "Lưu content + Pending Review", "type": "main", "index": 0 } ] ] },
    "Lưu content + Pending Review": { "main": [ [ { "node": "Email duyệt", "type": "main", "index": 0 } ] ] },
    "→ Publishing": { "main": [ [ { "node": "⚠️ TODO Đăng FB/IG/LinkedIn", "type": "main", "index": 0 } ] ] },
    "⚠️ TODO Đăng FB/IG/LinkedIn": { "main": [ [ { "node": "→ Published + er_check_due", "type": "main", "index": 0 } ] ] },
    "Build post (revise)": { "main": [ [ { "node": "Call /generate (revise)", "type": "main", "index": 0 } ] ] },
    "Call /generate (revise)": { "main": [ [ { "node": "Lưu revise + Pending Review", "type": "main", "index": 0 } ] ] }
  }
}
